<div
  class="games"
  style="
    grid-template-columns: <%= ("1fr " * @games.length)  %>;
    max-width: <%= (300 * @games.length) %>px;
  "
>
  <% @games.each do |game| %>
    <% selected = @game && @game.slug === game.slug %>
    <div class="game <%= selected ? 'selected' : '' %>">
      <a href="<%= selected ? "#" : new_match_path(game: game.slug) %>">
        <img src="<%= image_path('games/'+game.slug+'.webp') %>">
        <h3><%= game.name %></h3>
      </a>
    </div>
  <% end %>
</div>
